language: python
python:
- '3.7'
cache:
- pip
notifications:
  email: false
install:
# pytest is already installed, we need a greater version
- pip install --upgrade pytest
- pip install -r requirements.txt
script:
- pytest
branches:
  only:
    master
