Flask
arca>=0.3.1
pyyaml
pytest
pytest-cov
pytest-flake8
pytest-mock
requests
requests_mock
travispy
giturlparse
raven[flask]
github-flask
# https://github.com/fengsp/flask-session/issues/112
git+https://github.com/rayluo/flask-session@0.3.x#egg=flask-session
