{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-sm-2 col-lg-6 offset-lg-3">
            <div class="card">
                <h1 class="card-header">Nauč se Python!</h1>
                <div class="card-body">
                    Tato stránka slouží na automatické instalování webhooků pro forky projektu Nauč se Python.

                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category if category != "error" else "danger" }} text-center"
                                     role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    <div class="text-center">
                        {% if not logged_in %}
                            <a href="{{ url_for('login') }}" class="btn btn-outline-primary">Login using GitHub</a>
                        {% else %}
                            <a href="{{ url_for('logout') }}" class="btn btn-outline-warning">Logout</a>
                        {% endif %}
                    </div>

                    {% if logged_in %}
                        <hr>
                        <h5>Aktivovat webhook:</h5>
                        <ul class="list-group list-group-flush">
                            {% for repo in repos %}
                                <li class="list-group-item">
                                    {{ repo.full_name }}
                                    <a href="{{ url_for('activate', login=repo.owner.login, name=repo.name) }}"
                                       class="btn btn-sm btn-outline-primary float-right">Aktivovat</a>
                                </li>
                            {% endfor %}
                        </ul>

                    {% endif %}
                </div>
                <div class="card-footer text-center text-muted">
                    &copy; 2018 <a href="mailto:mikulaspoul@gmail.com">Mikuláš Poul</a>, <a href="https://github.com/mikicz/naucse-hooks">GitHub projektu</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
